##############################
# Visual Studio
##############################
.vs/
*.user
*.suo
*.cache
*.db
*.db-shm
*.db-wal
*.opendb
*.VC.db

##############################
# VS Code
##############################
.vscode/

##############################
# OS files
##############################
Thumbs.db
ehthumbs.db
.DS_Store
desktop.ini

##############################
# Logs
##############################
*.log

##############################
# Node / Build (por si a futuro agregás utilidades)
##############################
node_modules/
dist/
build/
.temp/
.cache/

##############################
# GitHub Pages
##############################
_site/
